In [81]:
# Import necessary libraries

import requests
import lxml.html as lh
import pandas as pd

In [82]:

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [83]:

#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [84]:

# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighborhood
"

In [85]:

#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [86]:
# Check the length of each column. Ideally, they should all be the same
[len(C) for (title,C) in col]

[181, 181, 181]

In [87]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [88]:
# Access the top 5 rows of the data frame 
df.head()

  Postal Code\n           Borough\n               Neighborhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [89]:
df.columns = ['Postcode','Borough', 'Neighbourhood']
df = df.replace('\n','', regex=True)
df.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Regent Park, Harbourfront

In [95]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)
df.shape

(104, 3)

In [109]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.drop(0)

    Postcode      Borough                                      Neighbourhood
1        M1B  Scarborough                                     Malvern, Rouge
2        M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
3        M1E  Scarborough                  Guildwood, Morningside, West Hill
4        M1G  Scarborough                                             Woburn
5        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
99       M9N         York                                             Weston
100      M9P    Etobicoke                                          Westmount
101      M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
102      M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
103      M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [110]:
df.loc[df['Neighbourhood'] == 'Not assigned ', 'Neighbourhood'] = df['Borough']

In [111]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Postcode'] == 'M7A']

   Postcode           Borough                                Neighbourhood
86      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [112]:

# Check the shape of the data frame
df.shape

(104, 3)

In [113]:
df.to_csv(r'df_can.csv')